<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="visual/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <html>
    <body>
    <nav class="navbar navbar-dark sticky-top navbar-expand-sm bg-dark" id="main-navbar">
      <div class="container">
        <a href="#top" class="navbar-brand h1 mb-1">Oleg Timoshenko</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a href="#about" class="nav-link mr-sm-5">About</a>
            </li>
            <li class="nav-item">
              <a href="#portfolio" class="nav-link mr-sm-5">Portfolio</a>
            </li>
            <li class="nav-item">
              <a href="#contacts" class="nav-link">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div data-spy="scroll" data-target="#main-navbar" data-offset="50">
    <section class="about" id="about">
      <div class="container py-5">
        <h2>About</h2>
        <hr>
        <p class="lead mx-5 my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, quae odio earum architecto enim esse quia. Iusto nostrum vitae enim error eaque non voluptates tempore libero, magnam temporibus deleniti velit mollitia ipsa quisquam aliquam est dolores
          autem deserunt sapiente necessitatibus repudiandae. Doloremque, quis? Inventore quod labore adipisci, minima exercitationem vero</p>
      </div>
    </section>
    <section class="portfolio" id="portfolio">
      <div class="container py-5">
        <h2>Portfolio</h2>
        <hr>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="card mb-4">
              <img src="https://foundation.zurb.com/assets/img/sites-templates/f6-template-news-mag.svg" alt="" class="card-img-top">
              <div class="card-body py-0">
                <h5 class="card-title">Project name</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card mb-4">
              <img src="https://foundation.zurb.com/assets/img/sites-templates/f6-template-realestate.svg" alt="" class="card-img-top">
              <div class="card-body py-0">
                <h5 class="card-title">Project name</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card mb-4">
              <img src="https://foundation.zurb.com/assets/img/sites-templates/foundation6-templates-04.svg" alt="" class="card-img-top">
              <div class="card-body py-0">
                <h5 class="card-title">Project name</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card mb-4">
              <img src="https://foundation.zurb.com/assets/img/sites-templates/foundation6-templates-03.svg" alt="" class="card-img-top">
              <div class="card-body py-0">
                <h5 class="card-title">Project name</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card mb-4">
              <img src="https://foundation.zurb.com/assets/img/sites-templates/foundation6-templates-05.svg" alt="" class="card-img-top">
              <div class="card-body py-0">
                <h5 class="card-title">Project name</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card mb-4">
              <img src="https://foundation.zurb.com/assets/img/sites-templates/foundation6-templates-07.svg" alt="" class="card-img-top">
              <div class="card-body py-0">
                <h5 class="card-title">Project name</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contacts" id="contacts">
      <div class="container py-5">
        <h2>Contacts</h2>
        <hr>
        <div class="row justify-content-center">
          <div class="col-md-8 pr-lg-5">
            <p class="lead text-center">Write me an e-mail:</p>
            <form action="">
              <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name:</label>
                <div class="col">
                  <input type="text" name="name" id="name" class="form-control" placeholder="Type your name">
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">E-mail:</label>
                <div class="col">
                  <input type="email" name="email" id="email" class="form-control" placeholder="Your e-mail">
                </div>
              </div>
              <div class="form-group row">
                <label for="message" class="col-sm-2 col-form-label">Message:</label>
                <div class="col">
                  <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col text-right">
                  <button type="submit" class="btn btn-primary px-5">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-4 pl-lg-5">
            <p class="lead text-center">Or visit:</p>
            <a class="btn btn-outline-dark btn-lg btn-block" href="#"><i class="ion-social-github"></i> GitHub</a>
            <a class="btn btn-outline-info btn-lg btn-block" href="#"><i class="ion-social-facebook"></i> Facebook</a>
            <a class="btn btn-outline-primary btn-lg btn-block" href="#"><i class="ion-social-linkedin"></i> LinkedIn</a>
            <a class="btn btn-outline-success btn-lg btn-block" href="#"><i class="ion-fireball"></i> FreeCodeCamp</a>
          </div>
        </div>
      </div>
    </section>
    </div>
    <footer class="navbar navbar-dark bg-dark">
      <div class="container">
        <span class="navbar-text mx-auto">
          Made by Oleg Timoshenko. 2018
        </span>
      </div>
    </footer>
<!--       <h3>Veja Noticias sobre</h3>
      <ul style="list-style: none;">
        <li><a href="/cursos" style="text-decoration: none;"><h5>Cursos</h5></a></li>
        <li><a href="/esportes" style="text-decoration: none;"><h5>Esportes</h5></a></li>
      </ul> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html> 